*{
    padding:0px;
    margin:0px;
}

html{
    scroll-behavior: smooth;
}
/* navigation styling */
#navbar{
    display:flex;
    align-items: center;
    position: relative;
    top: 0;
}

#navbar::before{
    content:"";
    background-color: black;
    width:100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
    opacity: 0.4;
}

/* logo styling */
#logo img{
    width:56px;
    height:56px;
    margin:10px 34px;
}

/* navigation list styling */
#navbar ul{
    display:flex;
}

ul li{
    list-style:none;
    font-size:1.3rem;
}

ul li a{
    text-decoration:none;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    color:white;
    font-family: 'Baloo Bhai', cursive;
}
ul li a:hover{
  color:black;
  background-color: white;
}

/* Home section Styling */
#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    justify-content: center;
    align-items: center;
    height: 530px;
}

#home::before{
    content:"";
    background: url("/background-image.jpg");
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 614px;
    z-index:-1;
   opacity: 0.89;
}

#home h1{
    color:white;
    text-align:center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align:center;
    font-size:1.5rem;
    font-family: 'Bree Serif', serif;
}
 
/* Services Section  */
#services{
    margin:34px;
    display: flex;;
}

#services .box{
    border:2px solid brown;
    padding:34px;
    margin:2px 6px;
    border-radius: 28px;
    background:#f2f2f2;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}
#services .box img{
    display: block;
    height: 156px;
    margin:auto;
}

/* Client section */
#client-section{ 
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
   }

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact section */
#contact{
    height: 416px;
}

#contact::before{
    content:"";
    position: absolute;
    background: url("/contact.jpg")no-repeat center center/cover;
    width:100%;
    height:416px;
    z-index:-1;
    opacity: 0.7;
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box textarea, #contact-box input{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width:40%;
}
#contact-box label{
    font-size:1.2rem;
    font-family:'Bree Serif', serif;;
}

footer{
    background-color: black;
    color:white;
    padding:9px 20px
}

/* Utility classes */
.h-primary{
    font-size: 3.8rem;
    font-family: 'Bree Serif', serif;
    padding:12px;
}

.h-secondary{
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
    padding:12px;
}
.btn{
    padding: 3px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    font-size: 1.2rem;
    margin: 17px;
    border-radius: 14px;
    cursor: pointer;
}

.center {
    text-align:center;
}